option_settings:
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: DeleteOnTerminate
    value: false
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: RetentionInDays
    value: 14

files:
  "/etc/awslogs/config/stdout.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [/var/log/containers/geth-stdout]
      log_group_name=/aws/elasticbeanstalk/qsp-protocol-{{stage}}/all.log
      log_stream_name=audit-geth-{instance_id}
      file=/var/log/containers/geth-*-stdouterr.log

      [/var/log/containers/audit-stdout]
      log_group_name=/aws/elasticbeanstalk/qsp-protocol-{{stage}}/all.log
      log_stream_name=audit-{instance_id}
      file=/var/log/containers/audit-*-stdouterr.log
      file_fingerprint_lines=1-2

commands:
  "30_restart_awslogs":
    command: service awslogs restart
