files:
  "/var/geth-config/audit-fullnode.toml":
    mode: "000755"
    owner: root
    group: root
    content: |
      [Node]
      UserIdent = "`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NODE_NAME", "DefaultValue": ""}}`-{instance_id}"
      DataDir = "data"
      IPCPath = "geth.ipc"
      HTTPHost = "0.0.0.0"
      HTTPPort = 8545
      HTTPCors = ["*"]
      HTTPModules = ["db", "personal", "eth", "net", "web3"]

      [Ethstats]
      URL = "`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NODE_NAME", "DefaultValue": ""}}`-{instance_id}:`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "WS_SECRET", "DefaultValue": ""}}`@netstats.quantstamp.com:443"
