files:
  "/var/qsp-network-geth-config/audit-fullnode.toml":
    mode: "000755"
    owner: root
    group: root
    content: |
      [Node]
      UserIdent = "audit-{{instanceId}}"
      DataDir = "data"
      IPCPath = "geth.ipc"
      HTTPHost = "0.0.0.0"
      HTTPPort = 8545
      HTTPCors = ["*"]
      HTTPModules = ["db", "personal", "eth", "net", "web3"]

      [Ethstats]
      URL = "audit-{{instanceId}}:{{wsPassword}}@netstats.quantstamp.com:443"

container_commands:
  "01-process-geth-config-file":
    command: |
      instance_id=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
      sed -i -e "s/{{instanceId}}/$instance_id/g" /var/qsp-network-geth-config/audit-fullnode.toml
