####################################################################################################
#                                                                                                  #
# (c) 2018 Quantstamp, Inc. All rights reserved.  This content shall not be used, copied,          #
# modified, redistributed, or otherwise disseminated except to the extent expressly authorized by  #
# Quantstamp for credentialed users. This content and its use are governed by the Quantstamp       #
# Demonstration License Terms at <https://s3.amazonaws.com/qsp-protocol-license/LICENSE.txt>.      #
#                                                                                                  #
####################################################################################################

files:
  "/var/node-config/config.yaml":
    mode: "000755"
    owner: root
    group: root
    content: |
      dev: &default
        eth_node:
          provider: !!str "HTTPProvider"
          args:
            endpoint_uri: !!str "https://ropsten.infura.io/v3/${token}"
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAudit-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 1
        max_assigned_requests: !!int 5
        evt_polling_sec: !!int 5
        block_mined_polling_interval_sec: !!int 1
        block_discard_on_restart: !!int 1
        analyzers:
          - mythril:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/mythril
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - securify:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/securify
              timeout_sec: 276
        upload_provider:
            is_enabled: True
            name: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-dev"
              contract_bucket_name: "qsp-protocol-reports-dev"
        keystore_file: !!str "./keystore/keystore.json"
        gas_limit: !!int 1000000
        gas_price:
          # Can be set to either dynamic (compute average gas price of recent blocks) or static (fixed gas price)
          strategy: !!str "dynamic"
          # Only used if gas_strategy is set to "static"
          default_gas_price_wei: !!int 8000000000
          # Sets an upper bound on gas_price which would override high values computed by the strategy.
          # Useful in case the network gets "gas attacked".
          max_gas_price_wei: !!int 50000000000
        evt_db_path: "/app/audit-db/audit_node.db"
        submission_timeout_limit_blocks: 49 # QuantstampAudit.auditData.auditTimeoutInBlocks - 1
        logging:
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-dev"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: False
        heartbeat_allowed: False
        police:
          # If set to False, the police node will never poll for regular audits
          is_auditing_enabled: !!bool False
        n_blocks_confirmation: !!int 6
      dev-feature:
        <<: *default
        upload_provider:
            is_enabled: True
            name: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-dev-feature"
              contract_bucket_name: "qsp-protocol-reports-dev-feature"
        metric_collection:
          is_enabled: False
      testnet:
        <<: *default
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/testnet/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/testnet/QuantstampAudit-v-{major-version}-meta.json"
        upload_provider:
            is_enabled: True
            name: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-testnet"
              contract_bucket_name: "qsp-protocol-reports-testnet"
        logging:
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-testnet"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: False
          interval_seconds: 30
          destination_endpoint: !!str "https://protocol-staging.quantstamp.com/node-metrics"
      mainnet:
        <<: *default
        eth_node:
          provider: !!str "HTTPProvider"
          args:
            endpoint_uri: !!str "https://mainnet.infura.io/v3/${token}"
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/mainnet/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/mainnet/QuantstampAudit-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 2
        upload_provider:
            is_enabled: True
            name: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-mainnet"
              contract_bucket_name: "qsp-protocol-reports-mainnet"
        logging:
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-prod"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: True
          interval_seconds: 30
          destination_endpoint: !!str "https://protocol.quantstamp.com/node-metrics"
      staging:
        <<: *default
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAudit-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 10
        upload_provider:
            is_enabled: True
            name: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-staging"
              contract_bucket_name: "qsp-protocol-reports-staging"
        gas_price:
          # Can be set to either dynamic (compute average gas price of recent blocks) or static (fixed gas price)
          strategy: !!str "static"
          # Only used if gas_strategy is set to "static"
          default_gas_price_wei: !!int 8000000000
          # Sets an upper bound on gas_price which would override high values computed by the strategy.
          # Useful in case the network gets "gas attacked".
          max_gas_price_wei: !!int 50000000000
        logging:
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-staging"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: True
          interval_seconds: 30
          destination_endpoint: None
