####################################################################################################
#                                                                                                  #
# (c) 2018 Quantstamp, Inc. All rights reserved.  This content shall not be used, copied,          #
# modified, redistributed, or otherwise disseminated except to the extent expressly authorized by  #
# Quantstamp for credentialed users. This content and its use are governed by the Quantstamp       #
# Demonstration License Terms at <https://s3.amazonaws.com/qsp-protocol-license/LICENSE.txt>.      #
#                                                                                                  #
####################################################################################################

files:
  "/var/node-config/config.yaml":
    mode: "000755"
    owner: root
    group: root
    content: |
      dev:
        eth_node:
          provider: !!str "HTTPProvider"
          args:
            endpoint_uri: !!str "https://prod.rpc.blockchaindevlabs.com/?token=${token}"
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAudit-v-{major-version}-meta.json"
        audit_data_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAuditData-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/dev/QuantstampAuditData-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 1
        max_assigned_requests: !!int 5
        evt_polling_sec: !!int 5
        block_mined_polling_interval_sec: !!int 1
        block_discard_on_restart: !!int 1
        analyzers:
          - oyente:
              args: "-ce"
              storage_dir: /tmp/oyente
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - mythril:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/mythril
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - securify:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/securify
              timeout_sec: 276
        report_uploader:
            is_enabled: True
            provider: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-dev"
              contract_bucket_name: "qsp-protocol-reports-dev"
        keystore_file: !!str "./keystore/UTC--2018-07-12T00-58-35.172Z--9bf5e4620db5944bccf0a1e6a6b72a430c5a0126"
        gas: !!int 700000
        gas_price:
          # Can be set to either dynamic (compute average gas price of recent blocks) or static (fixed gas price)
          strategy: !!str "dynamic"
          # Only used if gas_strategy is set to "static"
          default_gas_price_wei: !!int 8000000000
          # Sets an upper bound on gas_price which would override high values computed by the strategy.
          # Useful in case the network gets "gas attacked".
          max_gas_price_wei: !!int 50000000000
        evt_db_path: "/app/audit-db/audit_node.db"
        submission_timeout_limit_blocks: 24 # QuantstampAudit.auditData.auditTimeoutInBlocks - 1
        logging:
          is_verbose: True
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-dev"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: True
          interval_seconds: 30
          destination_endpoint: !!str "https://dev-qsp-dashboard.quantstamp.com/node-metrics"
        heartbeat_allowed: False
      prod:
        eth_node:
          provider: !!str "HTTPProvider"
          args:
            endpoint_uri: !!str "https://rpc.blockchaindevlabs.com/mainnet?token=${token}"
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/prod/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/prod/QuantstampAudit-v-{major-version}-meta.json"
        audit_data_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/prod/QuantstampAuditData-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/prod/QuantstampAuditData-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 1000
        max_assigned_requests: !!int 5
        evt_polling_sec: !!int 5
        block_mined_polling_interval_sec: !!int 1
        block_discard_on_restart: !!int 1
        analyzers:
          - oyente:
              args: "-ce"
              storage_dir: /tmp/oyente
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - mythril:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/mythril
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - securify:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/securify
              timeout_sec: 276
        report_uploader:
            is_enabled: True
            provider: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-prod"
              contract_bucket_name: "qsp-protocol-reports-prod"
        keystore_file: !!str "./keystore/mainnet-node-UTC--2018-08-13T14-30-46.517Z--e685187635499b823d97ffbf16cb0ee34a172c33"
        gas: !!int 700000
        gas_price:
          # Can be set to either dynamic (compute average gas price of recent blocks) or static (fixed gas price)
          strategy: !!str "dynamic"
          # Only used if gas_strategy is set to "static"
          default_gas_price_wei: !!int 8000000000
          # Sets an upper bound on gas_price which would override high values computed by the strategy.
          # Useful in case the network gets "gas attacked".
          max_gas_price_wei: !!int 50000000000
        evt_db_path: "/app/audit-db/audit_node.db"
        submission_timeout_limit_blocks: 24 # QuantstampAudit.auditData.auditTimeoutInBlocks - 1
        logging:
          is_verbose: True
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-prod"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: True
          interval_seconds: 30
          destination_endpoint: !!str "https://qsp-dashboard.quantstamp.com/node-metrics"
        heartbeat_allowed: False
      staging:
        eth_node:
          provider: !!str "HTTPProvider"
          args:
            endpoint_uri: !!str "https://prod.rpc.blockchaindevlabs.com/?token=${token}"
        audit_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAudit-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAudit-v-{major-version}-meta.json"
        audit_data_contract_abi:
          uri: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAuditData-v-{major-version}-abi.json"
          metadata: !!str "https://s3.amazonaws.com/qsp-protocol-contract/staging/QuantstampAuditData-v-{major-version}-meta.json"
        min_price_in_qsp: !!int 10
        max_assigned_requests: !!int 5
        evt_polling_sec: !!int 5
        block_mined_polling_interval_sec: !!int 1
        block_discard_on_restart: !!int 1
        analyzers:
          - oyente:
              args: "-ce"
              storage_dir: /tmp/oyente
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - mythril:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/mythril
              timeout_sec: 276 # (submission_timeout_limit_blocks-1) * 12
          - securify:
              args: "" # No args provided; rely on defaults for now
              storage_dir: /tmp/securify
              timeout_sec: 276
        report_uploader:
            is_enabled: True
            provider: !!str "S3Provider"
            args:
              bucket_name: "qsp-protocol-reports-staging"
              contract_bucket_name: "qsp-protocol-reports-staging"
        keystore_file: !!str "./keystore/UTC--2018-08-23T15-45-54.923Z--fc6e2a204381a8855b3e6c5aa27426bdadd5fb56"
        gas: !!int 700000
        gas_price:
          # Can be set to either dynamic (compute average gas price of recent blocks) or static (fixed gas price)
          strategy: !!str "static"
          # Only used if gas_strategy is set to "static"
          default_gas_price_wei: !!int 8000000000
          # Sets an upper bound on gas_price which would override high values computed by the strategy.
          # Useful in case the network gets "gas attacked".
          max_gas_price_wei: !!int 50000000000
        evt_db_path: "/app/audit-db/audit_node.db"
        submission_timeout_limit_blocks: 24 # QuantstampAudit.auditData.auditTimeoutInBlocks - 1
        logging:
          is_verbose: True
          streaming:
            provider: !!str "CloudWatchProvider"
            args:
              log_group: "qsp-protocol-nodes-staging"
              log_stream: "node-{id}"
              send_interval_seconds: 30
        metric_collection:
          is_enabled: True
          interval_seconds: 30
          destination_endpoint: None
        heartbeat_allowed: False
