container_commands:
  "00-init-qsp-network":
    command: |
      if [ ! -d "/var/qsp-network-geth" ]; then
        mkdir "/var/qsp-network-geth"
        aws s3 sync s3://$QSP_NETWORK_GETH_S3_BUCKET_NAME /var/qsp-network-geth
      fi
  "01-pull-geth-config-file":
    command: |
      aws s3 sync s3://$QSP_NETWORK_GETH_CONFIG_S3_BUCKET_NAME /var/qsp-network-geth-config
      instance_id=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
      sed -i -e "s/<id>/$instance_id/g" /var/qsp-network-geth-config/audit-fullnode.toml
