container_commands:
  "00-init-qsp-network":
    command: |
      if [ ! -d "/var/qsp-network-geth" ]; then
        mkdir "/var/qsp-network-geth"
        aws s3 sync s3://$QSP_NETWORK_GETH_S3_BUCKET_NAME /var/qsp-network-geth
      fi
  "01-pull-geth-config-file":
    command: |
      aws s3 sync s3://$QSP_NETWORK_GETH_CONFIG_S3_BUCKET_NAME /var/qsp-network-geth-config
  "10-init-qsp-keystore":
    command: |
      aws s3 sync s3://$QSP_NETWORK_KEYSTORE_S3_BUCKET_NAME /var/qsp-network-keystore
