commands:
  "00-init-qsp-network":
    command: |
      if [ ! -d "/var/qsp-network-geth" ]; then
        mkdir "/var/qsp-network-geth"
        aws s3 sync s3://qsp-network-genesis-geth-dev /var/qsp-network-geth
      fi
  "10-init-qsp-keystore":
    command: |
      aws s3 sync s3://qsp-network-keystore-dev /var/qsp-network-keystore
